<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>kwxsdk-global</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>微信服务器配置参数</description>
  	<param-name>AppConfig</param-name>
  	<param-value>classpath:app.properties</param-value>
  	<!-- <param-value>/WEB-INF/classes/app.properties</param-value> -->
  </context-param>
  
  <listener>
  	<listener-class>com.kwok.listener.FileLoadListener</listener-class>
  </listener>
  
  <listener>
    <listener-class>com.kwok.timer.GlobalTimerListener</listener-class>
  </listener>

</web-app>